# Database
MONGO_URI=mongodb://root:strong_password@localhost:27107/mdb?retryWrites=true&w=majority
MONGO_DATABASE=mdb
COLLECTION_CAMPAIGN_SETUP=campaign-setup
CAMPAIGN_NAME=etsy-llm-rkt_3000_1778812139517

# Config
USE_PROXY=1
USE_BASE_URL=1
HEADLESS=0
CHROME_CONCURRENT_START=10
EXTEND_TRAFFIC_PERCENT=-10

PROXY_NAME=tm_proxy

# macOS dev: dùng Chrome for Testing 130 (uc 3.5.5 không tương thích Chrome 148 user)
CHROME_BINARY=./chrome-for-testing/chrome-mac-x64/Google Chrome for Testing.app/Contents/MacOS/Google Chrome for Testing
CHROME_VERSION=130

#Redis
UPSTREAM_DB=0
FORWARD_DB=1